catboost
lightgbm
xgboost
scikit-learn
category_encoders
dvc
kaggle
pandas==1.5.3
numpy
matplotlib
PyYAML
flake8
fastapi
uvicorn[standard]
pydantic
starlette
opentelemetry-instrumentation-fastapi
prometheus-client